






.shop-inventory-container {
    width: 100%;
    overflow: hidden;
    margin:0 auto;
    z-index: -99
}




.shop-inventory-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
}


.shop-inventory-container img {
    width: fit-content;
    object-fit: cover;
}















.shop-inventory-wrapper-two {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin:0 auto;
}
















.shop-inventory-container-three {
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
}



.shop-inventory-wrapper-three {
display: flex;
align-items:center;
justify-content: space-between;
margin: 0 auto;
}



.shop-inventory-wrapper-three span {
    color:black;
    font-weight: bold;
}



.shop-inventory-wrapper-three img {
    object-fit: contain;
    width: 24px;
  }
  


  .shop-inventory-wrapper-three button {
    padding:0.3em 1em;
    border:1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    border-radius: 10px;
    background:white;
    color:black;
}







.shop-inventory-container-two {
    width: 100%;
    overflow: hidden;
}



.shop-inventory-wrapper-four {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}