




@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.newsletter-container {
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
    margin-top:90px;
    height: 510px;
    border-radius: 10px;
    background: linear-gradient(45deg, dodgerBlue 30%, lightgreen 10%, pink 20%);
}



.newsletter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    max-width: 1500px;
    text-align: center;
    margin-block: 50px;
}



.newsletter-wrapper h3 {
    font-size: 2.3rem;
    font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;

}


.newsletter-wrapper p {
    font-family: "Shadows Into Light", cursive;
    font-weight: 800;
    font-size: 1.7rem;
    color:black;
}




.newsletter-wrapper-two {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    gap:30px;
    text-align: center;
}

.newsletter-wrapper-two input {
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:1.3em 3em;
    border-radius:20px;
    border:1px solid black;
    text-align: center;
    margin:0px 10px


}


.newsletter-wrapper-two input.subscribe {
    color:orange;
    background:black;
    outline:none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding:0.9em 2em
}


.newsletter-wrapper-two  input.subscribe:hover {
    background:green;
    color:whitesmoke
}


